nav.navbar {
	border-bottom: 1px solid black;

	.navbar-nav {
		text-align: center;

		.nav-link {
			color: #7704d0ea;
			margin-right: 20px;

			@media screen and (max-width: 800px) {
				margin: 0;
			}
		}

		.nav-link:hover {
			opacity: 0.6;
		}

		.btn {
			color: #7704d0ea;
			border-color: #7704d0ea;
		}

		.btn:hover {
			color: white;
			background-color: #7704d0ea;
		}

	}

	.navbar-brand {
		img {
			height: 40px;
		}
	}
}

.navbar-logged {
	.email {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
