nav.navbar {
	border-bottom: 1px solid black;
	height: 60px;

	@media screen and (max-width: 800px) {
		height: auto;
	}

	.navbar-nav {
		text-align: center;

		.nav-link {
			color: #7704d0ea;
			margin-right: 20px;

			@media screen and (max-width: 800px) {
				margin: 0;
			}
		}

		.nav-link:hover {
			opacity: 0.6;
		}

		.btn {
			color: #7704d0ea;
			border-color: #7704d0ea;
		}

		.btn:hover {
			color: white;
			background-color: #7704d0ea;
		}
	}

	.navbar-brand {
		img {
			height: 40px;
		}
	}
}

.navbar-logged {
	background-color: #7704d0ea !important;

	.navbar-toggler {
		border: 1px solid white;
		box-shadow: none;
	}

	.navbar-toggler-icon {
		background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	}

	.email {
		display: flex;
		align-items: center;
		color: white;
		justify-content: center;
		opacity: 0.7;
		margin-right: 1rem;

		@media screen and (max-width: 800px) {
			margin-right: 0;
			margin-bottom: 5px;
		}
	}

	.nav-link {
		color: white !important;
	}

	.btn {
		color: white !important;
		border-color: white !important;
	}

	.btn:hover {
		color: #7704d0ea !important;
		background-color: white !important;
	}
}
