.home-container {
	width: 100%;
	margin: 0;
	height: calc(100vh - 60px);

	img {
		max-height: 70%;

		@media screen and (max-width: 800px) {
			max-height: 60%;
		}
	}

	.col:last-child {
		@media screen and (max-width: 800px) {
			align-items: flex-start;
		}
	}

	.col:first-child {
		display: flex;
		flex-direction: column;
		padding-left: 100px;
		color: white;

		@media screen and (max-width: 800px) {
			padding: 20px;
			padding-top: 60px;
			text-align: center;
		}

		div {
			width: 100%;

			.btn {
				width: 60%;
			}

			.btn:hover {
				color: #7704d0ea;
			}
		}
	}

	.col {
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: #7704d0ea;
	}
}
